<h2>Iniciar Sesión</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <!--<% flash.each do |name, msg| %>

    <% if msg.class == Array %>
      <% msg.each do |message| %>
        <%= content_tag :div, message, :id => "flash_#{name}" %>
      <% end %>
    <% else %>

      <%= content_tag :div, msg, :id => "flash_#{name}" %>

    <% end %>
  <% end %>-->
  <div class="field">
    <%= f.email_field :email, placeholder:"Email", autofocus: true, autocomplete: "email" %>
  </div>
<br/>
  <div class="field">
    <%= f.password_field :password, placeholder:"Contraseña", autocomplete: "current-password" %>
  </div>
<br/>
  <div class="field">
    <%= f.text_field :token, placeholder: "Token"%>
  </div>  
<br/>
  <div class="actions">
    <%= f.submit "Iniciar Sesión" ,class: "btn btn-success"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
