<h1>Información Personal</h1>

<%=form_for @record, url: health_record_create_path, method: :create do |f|%>

    <div>
        <%= f.text_area :nombre, placeholder:"Nombre", class:'form-control' %>
    </div>
<br/>
    <div>
        <%= f.text_area :apellido, placeholder:"Apellido", class:'form-control' %>
    </div>
<br/>
    <div>
        <%= f.number_field :dni, placeholder:"DNI", class:'form-control' %>
    </div>
<br/>
    <div>
        <%= f.label "Soy paciente de riesgo:"%>
        <%= f.check_box :risk %>
    </div>
<br/>
    <div>
        <%= f.label "Fecha de nacimiento:"%>
        <%= f.date_field :birth, class: 'form-control' %> 
    </div>
<br/>
    <div>
        <%=f.submit 'Siguiente' %>
    </div>
<%end%>

