
<table class="table">
  <tr>
    <th>
      id
    </th>

    <th>
      email
    </th>

    <th>
      rol
    </th>
    <th>
      token
    </th>
    <th>
      nombre
    </th>
    <th>
      apellido
    </th>
    <th>
      dni
    </th>
    <th>
      es de riesgo
    </th>
    <th>
      fecha nacimiento
    </th>
    </tr>
    <% @users.order(:role).each do |user| %>
      <tr>
        <td> <%= user.id %> </td>
        <td> <%= user.email %> </td>
        <td> <%= user.role %> </td>
        <td> <%= user.token %> </td>
        <%if !user.health_record.nil?%>
          <td> <%= user.health_record.nombre %> </td>
          <td> <%= user.health_record.apellido %> </td>
          <td> <%= user.health_record.dni %> </td>
          <td> <%= user.health_record.risk %> </td>
          <td> <%= user.health_record.birth.strftime %> </td>
        <% end %>
      </tr>
    <% end %>
</table>
