<h1>Solicitar Turno</h1>

<%=form_for @turno, url: solicitar_turnos_path, method: :create do |f|%>
    
    <div>
        Seleccionar vacuna<%=select_tag(:vacuna, options_for_select([['Gripe', 'Gripe'], ['Fiebre amarilla', 'Fiebre amarilla']]) ) %>
    </div>
    <p> </p>
    <div>
        Seleccionar zona<%=select_tag(:lugar, options_for_select([['Terminal colectivos', 'Terminal colectivos'], ['Municipalidad', 'Municipalidad'], ['Cementerio', 'Cementerio'] ]) ) %>
    </div>
    <p> </p>
    <div>
        <%=f.submit 'Solicitar Turno', class:'btn btn-primary btn-block mb-4' %>
    </div>
<%end%>

