
<h1> Solicitudes de turnos </h1>
<table class="table">
  <tr>
    <th>
      Vacuna
    </th>

    <th>
      Lugar solicitado
    </th>

    <th>
      Fecha de emisión
    </th>

    <% @turnoNoAsignado.each do |t| %>
      <tr>
        <td> <%= t.vacuna %> </td>
        <td> <%= t.lugar %> </td>
        <td> <%= t.fecha.strftime("%d/%m/%Y %H:%M:%S UTC-3") %> </td>
      <tr>
    <% end %>
</table>

<h1> Turnos asignados </h1>

<table class="table">
  <tr>
    <th>
      Vacuna
    </th>

    <th>
      Lugar 
    </th>

    <th>
      Fecha 
    </th>

    <% @turnoAsignado.each do |t| %>
      <tr>
        <td> <%= t.vacuna %> </td>
        <td> <%= t.lugar %> </td>
        <td> <%= t.fecha.strftime("%d/%m/%Y %H:%M:%S UTC-3") %> </td>
      <tr>
    <% end %>
</table>
