<%= form_with(model: comprobante) do |form| %>
  <% if comprobante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comprobante.errors.count, "error") %> prohibited this comprobante from being saved:</h2>

      <ul>
        <% comprobante.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vacuna %>
    <%= form.select :vacuna, options_for_select([['Primera dosis COVID 19', 'covid1'], ['Segunda Dosis COVID 19', 'covid2'], ['Vacuna antigripal', 'gripe'], ['Vacuna contra la fiebre amarilla', 'fiebre']]), id: :vacuna %>
  </div>

  <!-- <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id%>
  </div> -->

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select :user_id, User.where(role: 'Paciente').map {|u| [u.health_record.nombre,u.id]},{}, { class: 'form-control'} %>
  </div>
  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :observaciones %>
    <%= form.text_area :observaciones %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
