<%= form_with(model: comprobante) do |form| %>
  <% if comprobante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comprobante.errors.count, "error") %> prohibited this comprobante from being saved:</h2>

      <ul>
        <% comprobante.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <div class="field">
    <%= form.label :vacuna %>
    <%= form.select :vacuna, options_for_select([['Primera dosis COVID 19', 'covid1'], ['Segunda Dosis COVID 19', 'covid2'], ['Vacuna antigripal', 'gripe'], ['Vacuna contra la fiebre amarilla', 'fiebre']]), id: :vacuna %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="actions">
    <%= form.submit 'Agregar vacuna',class:"btn btn-success" %>
  </div>
<% end %>
<h2>Vacunas previas</h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th >Vacuna</th>
        <th>Fecha</th>
        <th colspan="3">Acciones</th> 
      </tr>
    </thead>

    <tbody>
      <% @comprobantes.each do |c| %>
        <tr>
            <td><%= c.humanize %></td>
            <td><%= c.fecha %></td>
            <td>
              <%= link_to 'Borrar' , c, method: :delete, data: { confirm: '¿Está seguro?' },class:"btn btn-danger" %>
            </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4">
          <%= link_to 'Finalizar registro', turnos_index_path, class:"btn btn-success" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
