<p id="notice"><%= notice %></p>
<style>
h1 {text-align: center;font-size: 50;}
h2 {font-size: 25;}
h3 {font-size: 20;color:gray};
</style>
<title>
Comprobante de <%= current_user.health_record.nombre + " " + current_user.health_record.apellido%>
</title>
<body>
  <h1 style=background-color:#96ce7a;color:white;text-decoration: underline;>
    <br/>
    VacunAssist<br/>
    <img width="100" height="100" src="https://i.imgur.com/QQfBKET.png">
    <br/>
  </h1>
  
  <h1>Comprobante</h1>
  <hr class="solid">

  <h2>Vacuna Aplicada:</h2>
  <h3><%= @comprobante.humanize %></h3>
    
  <h2>ID del paciente:</h2>
  <h3><%= @comprobante.user_id%></h3>

  <h2>Nombre:</h2>
  <h3><%= @datos.nombre %><h3>    
  
  <h2>Apellido:</h2>
  <h3><%= @datos.apellido %><h3>    

  <h2>Fecha:</h2>
  <h3><%= @comprobante.fecha %><h3>    

  <h2>Descripcion:</h2>
  <h3><%= @comprobante.descripcion %></h3>    
  
  <h2>Observaciones:</h2>
  <h3><%= @comprobante.observaciones %></h3>    

</body>
  