<h1>Editing Comprobante</h1>

<%if current_user.role=="Paciente"%>
    <%=render 'formPaciente',comprobante: @comprobante%>
<%else%>
    <%=render 'form',comprobante: @comprobante%>
<%end%>

<%= link_to 'Show', @comprobante %> |
<%= link_to 'Back', comprobantes_path %>
