<p id="notice"><%= notice %></p>

<h1>Comprobantes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Vacuna</th>
      <th>Fecha</th>
      <th>Descripcion</th>
      <th>Observaciones</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @comprobantes.each do |c| %>
      <tr>
          <td><%= c.humanize %></td>
          <td><%= c.fecha %></td>
          <td><%= c.descripcion %></td>
          <td><%= c.observaciones %></td>
          <td><%= link_to 'Descargar',comprobante_path(c, format: :pdf) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
