<p id="notice"><%= notice %></p>

<p>
  <strong>Vacuna:</strong>
  <%= @comprobante.vacuna %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @comprobante.fecha %>
</p>

<% if @comprobante.printable == true %> 

  <p>
    <strong>Descripcion:</strong>
    <%= @comprobante.descripcion %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= @comprobante.observaciones %>
  </p>

  <%= link_to 'Descargar',comprobante_path(@comprobante, format: :pdf) %>|
<% end %>
<%= link_to 'Inicio', root_path,class:"btn btn-primary"%>
<%= link_to 'Editar', edit_comprobante_path(@comprobante) ,class:"btn btn-info"%> 
<% if current_user.role== 'Paciente'%>
  <%=link_to 'Agregar mas vacunas' , new_comprobante_path,class:"btn btn-success" %>
<% end %>
