<h1>Mi cuenta</h1>
<h2>Vacunas previas</h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th >Vacuna</th>
        <th colspan="2">Fecha</th>
      </tr>
    </thead>

    <tbody>
      <% @comprobantes.each do |c| %>
        <tr>
            <td><%= c.humanize %></td>
            <td><%= c.fecha %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<h2>Datos del Usuario</h2>
<div class="info">
    <h5> Nombre: <%= @info.nombre %></h5>
    <h5> Apellido: <%= @info.apellido %></h5>
    <h5> DNI: <%= @info.dni %></h5>
    <h5> Token: <%= current_user.token %></h5>
</div>
<br/>
<h2><strong>Modificar mis datos</strong></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br/>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "Contraseña" %> <i>(No se cambia si se deja en blanco)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres minimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "Confirme la contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
<br/>
  <div class="field">
    <%= f.label "Contraseña Actual" %> <i>(Necesitamos la contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <br/>

  <div class="actions">
    <%= f.submit "Actualizar mis datos" , class: "btn btn-success"%>
  </div>
<% end %>
<br/>
<!-- <h5>Cancel my account< -->

<!--<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> %>-->

<%= link_to "Volver", :back,class: "btn btn-info" %>
