<h1>Registrarse</h1>
<style>
p {color:red;font-size: 50;}
</style>
<p> <strong>Se te asignó un token automáticamente, es necesario para iniciar sesión.</strong></p>

<p>No lo olvides!</p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.email_field :email, placeholder:"Email", autofocus: true, autocomplete: "email" %>
  </div>
<br/>
  <div class="field">
    <%= f.password_field :password,
      placeholder:"Contraseña", autocomplete: "new-password" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres minimo)</em>
    <% end %>
  </div>
  <br/>

  <div class="field">
    <%= f.password_field :password_confirmation,
      placeholder:"Confirmar Contraseña", autocomplete: "new-password" %>
  </div>
  <br/>
  <div class="field">
    <%= f.label "Tu token es:" %>
    <%= f.text_field :token, :value=> (rand()*1000000).to_i, :readonly=>true, :size=>6 %>
  </div>
<br/>
  <div class="actions">
    <%= f.submit "Siguiente", class:"btn btn-success"%>
  </div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
