<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #96ce7a;">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="https://i.imgur.com/QQfBKET.png" alt="Logo de VacunAssist" width="35" height="35" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Inicio",root_path, class:"nav-link"%>
        </li>
        <% if user_signed_in?%>
          <%if current_user.role=="Paciente"%>
          <!-- Paciente -->
            <li class="nav-item"> <%= link_to "Solicitar turnos",new_solicitar_turno_path, class:"nav-link"%></li>
            <li class="nav-item"><%= link_to "Ver mis turnos",turnos_index_path, class:"nav-link"%></li> 
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <% if current_user.health_record.nil?%>
                  <%= current_user.email%>
                <%else%>  
                  <%= current_user.health_record.nombre %>
                <%end%>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link_to "Ver mis datos",edit_user_registration_path, class:"dropdown-item"%></li>
                <li><%= link_to "Cerrar sesión",destroy_user_session_path, method: :delete, class:"dropdown-item"%></li>
                <li><%= link_to "Ver mis comprobantes",comprobantes_path,class:"dropdown-item"%></li>
              </ul>
            </li>
          <%elsif current_user.role=="Vacunador"%>
            <!--Vacunador -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= current_user.email %></a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link_to "Mi Cuenta",edit_user_registration_path, class:"dropdown-item"%></li>
                <li><%= link_to "Cerrar Sesión",destroy_user_session_path, method: :delete, class:"dropdown-item"%></li>
              </ul>
            </li>
            <li class="nav-item">
              <%= link_to "Turnos",turnos_index_path, class:"nav-link"%>
            </li> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.health_record.nil?%>
                <%= current_user.email%>
              <%else%>  
                <%= current_user.health_record.nombre %>
              <%end%>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "Mi Cuenta",edit_user_registration_path, class:"dropdown-item"%></li>
              <li><%= link_to "Cerrar Sesión",destroy_user_session_path, method: :delete, class:"dropdown-item"%></li>
              <li><%= link_to "Comprobantes",comprobantes_path,class:"dropdown-item"%></li>
            </ul>
          <%elsif current_user.role=="Admin"%>
            <!--Admin -->
            <li class="nav-item">
              <%= link_to "Turnos",turnos_index_path, class:"nav-link"%>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%if current_user.health_record.nil?%>
                  <%= current_user.email %>
                <%else%>
                  <%= current_user.health_record.nombre %>
                <%end%>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link_to "Mi Cuenta",edit_user_registration_path, class:"dropdown-item"%></li>
                <li><%= link_to "Cerrar Sesión",destroy_user_session_path, method: :delete, class:"dropdown-item"%></li>
              </ul>
            </li>
            <li class="nav-item">
              <%= link_to "Turnos",turnos_index_path, class:"nav-link"%>
            </li> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.health_record.nombre %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "Mi Cuenta",edit_user_registration_path, class:"dropdown-item"%></li>
              <li><%= link_to "Cerrar Sesión",destroy_user_session_path, method: :delete, class:"dropdown-item"%></li>
              <li><%= link_to "Comprobantes",comprobantes_path,class:"dropdown-item"%></li>
            </ul>
        <%end%>
        <% else %>
          <!-- no inicio sesion -->
          <li class="nav-item">
            <%= link_to "Registrarse",new_user_registration_path, class:"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Iniciar Sesión",new_user_session_path, class:"nav-link"%>
          </li>  
        <% end %>
      </ul>
    </div>
  </div>
</nav>